.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
#  sublime
######################
*.sublime-project
*.sublime-workspace